* {
  margin: 0;
  padding: 0;
  color: #fff;
}

/* #root {
  max-width: 1280px;
  margin: 0 auto;
  text-align: center;
  overflow: hidden;
  color: #ddd;
  padding: 100px 0;
} */


.pokemon-list {
  display: flex;
  flex-wrap: wrap;
  max-height: 600px;;
  gap: 5px;
}

.pokemon-list-item {
  font-size: 0.8rem;
  /* border-radius: 0px; */
  cursor: pointer;
}


.nav-btns {
  display: flex;
  flex-direction: row;
}

.nav-btn {
  margin: 10px 20px;
  padding: 5px;
  width: 100px;
  font-size: 18px;
  background-color: #393737;
  color: #fff;
  border: 2px solid #666;
  border-radius: 10px;
  cursor: pointer;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}

.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}

.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}
.search-form {
  display: flex;
}

.captured-pokemon {
  position: relative;
  width: auto;
  cursor: pointer;
}

button.delete-btn {
  width: 20px;
  height: 20px;
  position: absolute;
  top: -10px;
  right: -20px;
  font-weight: 200;
  color: #fff;
  background: none;;
  border: 1px #fff solid;
  line-height: 14px;
  font-size: 20px;
  border-radius: 50%;
  cursor:pointer;
}
.error-msg {
  color: #fff;
}
@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
